use ruby 2.6.0
export GFM_SOURCE_REPO_OWNER=Xorima
export GFM_SOURCE_REPO_NAME=supermarketapi
export GFM_GITHUB_TOKEN=$GITHUB_TOKEN
export GFM_DESTINATION_REPO_TOPICS='chef,chef-cookbook'
export GFM_DESTINATION_REPO_OWNER=sous-chefs
export GFM_SOURCE_REPO_PATH='cookbook'
